/* style.css */

.home_page {
    margin: 0%;
    background-image: url('/public/html.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    color: #fff; /* Set text color to white or a contrasting color */
    padding: 200px; /* Add padding for better spacing */
  }
  
  .home_page h1 {
    font-size: 35px;
  }
  
  .home_page p {
    font-size: 20px;
  }
  
  .home_page button {
    width: 8%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .home_page button:hover {
    cursor: pointer;
    background-color: #689c97;
    border: none;
    color: white;
  }
  